<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <title>Concise Template</title>

    <link rel="stylesheet" type="text/css" media="screen" href="css/concise.min.css" />
</head>

<body>


<div class="masthead">
    <div container>
        <h1>Showing latest relevant products</h1>
    </div></div>


<main container class="siteContent">



    <div class="box">

<table>

    {{#r}}
        <tr>
            <td>({{id}})</td>
            <td><a href="/detail/{{id}}">{{name}}</a></td>
            <td>EUR {{price}}</td>
        </tr>
    {{/r}}
</table>
    </div>
    </main>

</body>
</html>
