body {
    background: -moz-linear-gradient(top,  #9cc,  #fff);
    background: -webkit-gradient(linear, left top, left bottom, from(#9cc), to(#fff));
    font-family: verdana,sans-serif;
    margin-left: 5em;
    margin-top: 3em;
}

.box {
    -moz-border-radius: 1em 4em 1em 4em;
    border-radius: 1em 4em 1em 4em;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 3em;
    padding-bottom: 3em;
    background-color: #ffeabf;
    width: 480px;
}

